@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'PT Serif';
		font-style:  normal;
		font-weight: 400;
		font-display: swap;
		src: url("/fonts/PTSerif/PTSerif-Regular.woff2?v=3.18") format("woff2"),
				url("/fonts/PTSerif/PTSerif-Regular.woff?v=3.18") format("woff");
	}
	@font-face {
		font-family: 'PT Serif';
		font-style:  italic;
		font-weight: 400;
		font-display: swap;
		src: url("/fonts/PTSerif/PTSerif-Italic.woff2?v=3.18") format("woff2"),
				url("/fonts/PTSerif/PTSerif-Italic.woff?v=3.18") format("woff");
	}
	@font-face {
		font-family: 'PT Serif';
		font-style:  normal;
		font-weight: 700;
		font-display: swap;
		src: url("/fonts/PTSerif/PTSerif-Bold.woff2?v=3.18") format("woff2"),
				url("/fonts/PTSerif/PTSerif-Bold.woff?v=3.18") format("woff");
	}
	@font-face {
		font-family: 'PT Serif';
		font-style:  italic;
		font-weight: 700;
		font-display: swap;
		src: url("/fonts/PTSerif/PTSerif-BoldItalic.woff2?v=3.18") format("woff2"),
				url("/fonts/PTSerif/PTSerif-BoldItalic.woff?v=3.18") format("woff");
	}
	@font-face {
		font-family: 'Manrope';
		src: url('/fonts/Manrope/Manrope-VariableFont_wght.woff2?v=3.18') format('woff2-variations');
		font-weight: 200 800;
		font-style: normal;
		font-display: swap;
	}

  :root {
    --vh: 1vh;
    --screenHeight: calc(var(--vh, 1vh) * 100);
    --screenSemiHeight: calc(var(--vh, 1vh) * 50);
  }

  html, body, #__next {
    width: 100%;
    height: var(--screenHeight);
    overflow: hidden;
		font-family: 'Manrope', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
		@apply text-gray-900 antialiased
  }

	body {
		@apply relative md:border-r md:border-l border-gray-200;
	}

	a,
	summary,
	button:not(:disabled) {
		@apply focus:ring-2 focus:outline-none focus:ring-gray-900 focus:ring-offset-2 focus:ring-offset-white;
	}

	p {
		-webkit-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
		hyphenate-limit-after: 2;
		hyphenate-limit-before: 3;
	}

	main::-webkit-scrollbar {
		@apply w-3;
	}

	main::-webkit-scrollbar-track {
		@apply bg-white;
	}

	main::-webkit-scrollbar-thumb {
		@apply bg-gray-400 rounded-full text-white;
		border: 3px solid;
	}
	
	/* Prose styles (tailwindcss typography plugin) */
	main .prose {
		@apply max-w-full;
	}
	main .prose > p:not(.lead):first-of-type::first-letter {
		@apply float-left mr-5 text-[5.5em] leading-[.9em];
	}
	main .prose h1, main .prose h2, main .prose h3 {
		@apply font-sans;
	}
	main .prose h2,
	main .prose h3 {
		scroll-margin-top: 4em;
	}

	/* Safari-only */
	@supports (-webkit-hyphens:none) {
		.prose h2 {
				padding-top: 2em;
				margin-top: -2em;
			}
		
			.prose h3 {
				padding-top: 1.6em;
				margin-top: -1.6em;
			}
	}
}


/* Slick carousel adjustments */
.slick-slider {
	@apply h-full grid-cols-1 grid-rows-[1fr,auto] gap-4 ;
	display: grid !important;
}

.slick-dots {
	@apply px-4 py-2 justify-evenly gap-4;
	display: flex !important;
}

.slick-track,
.slick-slide {
	height: 100%;
}

.slick-slide > div {
	height: 100%;
	display: grid !important;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr auto;
}

.slick-dots > li {
	@apply w-full h-1 flex items-center;
}

.slick-dots > li.slick-active > button > span {
	@apply bg-gray-900;
}

/* MapLibre control adjustments */
main .maplibregl-ctrl-attrib.maplibregl-compact {
	min-height: 24px !important;
}

main .maplibregl-ctrl-group:not(:empty) {
  @apply shadow-lg border border-gray-300;
}

main .maplibregl-ctrl-group button {
	@apply rounded bg-white w-12 h-12;
}

main .maplibregl-control-container {
	@apply fixed max-w-3xl bottom-16 left-1/2 -translate-x-1/2 w-full;
}

main .maplibregl-ctrl-attrib-button:focus,
main .maplibregl-ctrl-group button:focus:focus-visible {
	@apply ring-2 ring-gray-900 ring-offset-2 ring-offset-white;
}

main .maplibregl-ctrl-group button:focus:focus-visible {
	@apply relative z-10 rounded border-none
}

main .maplibregl-canvas:focus-visible {
	@apply outline-none border border-gray-900;
}

main .maplibregl-ctrl-zoom-in,
main .maplibregl-ctrl-zoom-out {
  margin: 0;
}

main .maplibregl-ctrl-geolocate span {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNiIgaGVpZ2h0PSIyNiIgdmlld0JveD0iMCAwIDI2IDI2Ij48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0zIC0zKSI+PHBvbHlnb24gcG9pbnRzPSIwIDAgMzIgMCAzMiAzMiAwIDMyIi8+PGNpcmNsZSBjeD0iMTYiIGN5PSIxNiIgcj0iMTIiIHN0cm9rZT0iIzExMTgyNyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiLz48cG9seWdvbiBzdHJva2U9IiMxMTE4MjciIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBwb2ludHM9IjE2IDIyLjY2NyAxNC42NjcgMTcuMzMzIDkuMzMzIDE2IDIxLjMzMyAxMC42NjciLz48L2c+PC9zdmc+") !important;
}

main button.maplibregl-ctrl-zoom-out {
	@apply rounded-t-none;
}

main button.maplibregl-ctrl-zoom-in {
	@apply rounded-b-none;
}

main button.maplibregl-ctrl-zoom-out span {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMiIgaGVpZ2h0PSIyIiB2aWV3Qm94PSIwIDAgMjIgMiI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNSAtMTUpIj48cG9seWdvbiBwb2ludHM9IjAgMCAzMiAwIDMyIDMyIDAgMzIiLz48bGluZSB4MT0iNi42NjciIHgyPSIyNS4zMzMiIHkxPSIxNiIgeTI9IjE2IiBzdHJva2U9IiMxMTE4MjciIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIi8+PC9nPjwvc3ZnPg==") !important;
}

main button.maplibregl-ctrl-zoom-in span { 
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMiIgaGVpZ2h0PSIyMiIgdmlld0JveD0iMCAwIDIyIDIyIj48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC01IC01KSI+PHBvbHlnb24gcG9pbnRzPSIwIDAgMzIgMCAzMiAzMiAwIDMyIi8+PGxpbmUgeDE9IjE2IiB4Mj0iMTYiIHkxPSI2LjY2NyIgeTI9IjI1LjMzMyIgc3Ryb2tlPSIjMTExODI3IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIvPjxsaW5lIHgxPSI2LjY2NyIgeDI9IjI1LjMzMyIgeTE9IjE2IiB5Mj0iMTYiIHN0cm9rZT0iIzExMTgyNyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiLz48L2c+PC9zdmc+") !important;
}
